<!--
*ファイルパス:C:\xampp\htdocs\DT\member\complete.html.twig
*ファイル名:complete.html.twig
*アクセスURL:http://localhost/DT/member/complete.html.twig
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>会員登録完了</title>
    </head>
    <body>
        <div>ありがとうございます!!会員登録が完了しました</div>
        <a href="http://localhost/DT/buy_login/regist.php">ログイン</a>
    </body>    
</html>               