<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>コンタクトフォーム</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="style1.css" rel="stylesheet"> 
</head>
<body>
<div class="container">
    <h2 class="">お問い合わせフォーム</h2>
    <p>以下のフォームからお問い合わせください。</p>
    <form id="form" method="post" action="check.php">
    <div class="form-group">
        <label for="name">お名前（必須）</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="氏名" required value="">
    </div>
    <div class="form-group">
        <label for="email">Email（必須）</label>
        <input  type="email" class="form-control" id="email" name="email" placeholder="Email アドレス" required value="">
    </div>
    <div class="form-group">
        <label for="tel">お電話番号（半角英数字）</label>
        <input type="tel" class="form-control" id="tel" name="tel" value="" placeholder="お電話番号（半角英数字でご入力ください）">
    </div>
    <div class="form-group">
        <label for="subject">件名（必須）</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="件名" required value="">
    </div>
    <div class="form-group">
        <label for="body">お問い合わせ内容（必須）</label>
        <textarea class="form-control" id="body" name="body" placeholder="お問い合わせ内容（1000文字まで）をお書きください" required rows="3"></textarea>
    </div>
    <p><button type="button" onclick='location.href="http://localhost/DT/buy/list.php"'>一覧戻る</button>
    <input type="submit" name="confirm" value="確認" id ="check">(次の画面で確認できます)</p>
    </form>
</div>
</body>
</html>