<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>コンタクトフォーム</title>
        <link href="{{constant('login\\Bootstrap::APP_URL')}}css/style_contact.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet"> 
    </head>
    <body>
        <div id="wrapper" style="background: #990000;"  style="color:white">
            <strong><span style="color: #FFFFFF;"><font size="5">ふるさとをチョイス</font></span></strong>
        </div>
        <div id "wrapper2" class="container">
            <center><h2 class="">お問い合わせフォーム</h2></center>
            <table align="center" bgcolor="#fffff0">
                <p><center>以下のフォームからお問い合わせください。</center></p>
                <form id="form" method="post" action="check.php">
                    <tr>
                        <div class="form-group">
                            <th><label for="name">お名前（必須）</label></th>
                            <th><input type="text" class="form-control" id="name" name="name" placeholder="氏名" required value=""></th>
                        </div>    
                    </tr>
                    <tr>
                        <div class="form-group">
                            <th><label for="email">Email（必須）</label></th>
                            <th><input  type="email" class="form-control" id="email" name="email" placeholder="Email アドレス" required value=""></th>
                        </div>    
                    </tr>
                    <tr>
                        <div class="form-group">
                            <th><label for="tel">お電話番号（半角英数字）</label></th>
                            <th><input type="tel" class="form-control" id="tel" name="tel" value="" placeholder="お電話番号（半角英数字でご入力ください）"></th>
                        </div>    
                    </tr>
                    <tr>
                        <div class="form-group">
                            <th><label for="subject">件名（必須）</label></th>
                            <th><input type="text" class="form-control" id="subject" name="subject" placeholder="件名" required value=""></th>
                        </div>    
                    </tr>
                    <tr>
                        <div class="form-group">
                            <th><label for="body">お問い合わせ内容（必須）</label></th>
                            <th><textarea class="form-control" id="body" name="body" placeholder="お問い合わせ内容（1000文字まで）をお書きください" required rows="3"></textarea></th>
                        </div>     
                    </tr>  
            </table>        
        </div>         
                <p>
                    <div id="wrapper1"> 
                        <button type="button" onclick='location.href="http://localhost/DT/buy/list.php"'>一覧戻る</button>
                        <input type="submit" name="confirm" value="確認" id ="check"> 
                    </div>    
                </p>
            </form>
    </body>
</html>
