<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>掲示板_DB_Smarty版</title>
        <h2 class="">掲示板</h2>
        <p><font size="3">１件削除されました</font></p>
    </head>
    <body>
        <form method="post" action="">
                    <td><button type="button" onclick='location.href="http://localhost/DT/buy/board5.php?item_id={{data.item_id}}"'>口コミに戻る</button></td>
                    <td><button type="button" onclick='location.href="http://localhost/DT/buy/list.php"'>一覧に戻る</button></td>
        </form>
    </body>
</html>