<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>掲示板_DB_Smarty版</title>
        <h2 class="">口コミ編集</h2>
    </head>
    <body>
        <form method="post" action="">
            <table>
                <tr>
                    <th>名前</th>
                    <td><input type="text" name="name" value="{{data.name}}"></td>
                </tr>
                <tr>
                    <th>件名</th>
                    <td><input type="text" name="subject" value="{{data.subject}}"></td>
                </tr>                
                <tr>
                    <th>コメント</th>
                    <td><textarea name="contents" rows="4" cols="20">{{data.contents}}</textarea></td>
                </tr>
                <tr>
                    <td><button type="button" onclick='location.href="http://localhost/DT/buy/board5.php?item_id={{data.item_id}}"'>口コミに戻る</button></td>
                    <td><button type="button" onclick='location.href="http://localhost/DT/buy/list.php"'>一覧に戻る</button></td>
                    <td colspan="2"><input type="submit" name="update" value="更新する"></td>
                </tr>  
            </table>    
        </form>
    </body>
</html>