<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>退会画面</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="style1.css" rel="stylesheet"> 
</head>
<body>
    <form method="post" action="leave.php">
    <p><font size="5">退会完了</font></p>
    <p><font size="3">ありがとうございました。</font></p>
    <p><button type="button" onclick='location.href="http://localhost/DT/buy/list.php"'>一覧戻る</button>
    </form>
</body>
</html>