<!--
*ファイルパス:C:\xampp\htdocs\DT\member\complete.html.twig
*ファイル名:complete.html.twig
*アクセスURL:http://localhost/DT/member/complete.html.twig
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ログイン</title>
    </head>
    <body>
        <div>ログインできました</div>
        <a href="http://localhost/DT/shopping/list.php">買い物をする</a>
    </body>    
</html>               